In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Test').getOrCreate()

In [9]:
#Reading Table 1
df_dim=spark.read.csv('it_dim.csv',header=True)
df_dim.show()

+----+--------------------+
|brid|              brname|
+----+--------------------+
|1000|      data_analytics|
|2000|software_development|
|3000|         IT_services|
|4000|                 BPO|
+----+--------------------+

In [10]:
#Reading Table 2
df_fact=spark.read.csv('it_fact.csv',header=True)
df_fact.show()

+---+-----+-------+----+-----+
|eid| name|   city|brid|group|
+---+-----+-------+----+-----+
|101|  jay| mumbai|1000|   IT|
|103|sujay|  delhi|2000|   IT|
|108| riya|  kochi|3000|   IT|
|107|  saj|maysuru|4000|   IT|
|102|rahul| mumbai|1000|   IT|
|206|rinku|  delhi|2000|   IT|
|501|  ram|  kochi|3000|   IT|
|605|vijay|maysuru|4000|   IT|
|804|danny| mumbai|4000|   IT|
+---+-----+-------+----+-----+

In [14]:
# joining table using pysparkSQL
df_fact.createOrReplaceTempView('t_fact')
df_dim.createOrReplaceTempView('t_dim')
df_joined = spark.sql("select eid,name,city,group,d.brid,brname from t_fact f, t_dim d where f.brid=d.brid")
df_joined.show()

+---+-----+-------+-----+----+--------------------+
|eid| name|   city|group|brid|              brname|
+---+-----+-------+-----+----+--------------------+
|101|  jay| mumbai|   IT|1000|      data_analytics|
|103|sujay|  delhi|   IT|2000|software_development|
|108| riya|  kochi|   IT|3000|         IT_services|
|107|  saj|maysuru|   IT|4000|                 BPO|
|102|rahul| mumbai|   IT|1000|      data_analytics|
|206|rinku|  delhi|   IT|2000|software_development|
|501|  ram|  kochi|   IT|3000|         IT_services|
|605|vijay|maysuru|   IT|4000|                 BPO|
|804|danny| mumbai|   IT|4000|                 BPO|
+---+-----+-------+-----+----+--------------------+

In [24]:
joining using pyspark join function.

joined=df_fact.join(df_dim, df_fact.brid == df_dim.brid)
joined.show()

+---+-----+-------+----+-----+----+--------------------+
|eid| name|   city|brid|group|brid|              brname|
+---+-----+-------+----+-----+----+--------------------+
|101|  jay| mumbai|1000|   IT|1000|      data_analytics|
|103|sujay|  delhi|2000|   IT|2000|software_development|
|108| riya|  kochi|3000|   IT|3000|         IT_services|
|107|  saj|maysuru|4000|   IT|4000|                 BPO|
|102|rahul| mumbai|1000|   IT|1000|      data_analytics|
|206|rinku|  delhi|2000|   IT|2000|software_development|
|501|  ram|  kochi|3000|   IT|3000|         IT_services|
|605|vijay|maysuru|4000|   IT|4000|                 BPO|
|804|danny| mumbai|4000|   IT|4000|                 BPO|
+---+-----+-------+----+-----+----+--------------------+